APP_ENV=development
APP_PORT=8080

DB_HOST=postgres
DB_PORT=5432
DB_USER=appuser
DB_PASSWORD=apppassword
DB_NAME=appdb
DB_SSLMODE=disable

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=Ip4JIBXJXn4VQfjnO3eKVhqavme0ozLjIOzRMWrlzzO6j352VzvOBYX2Phh8pfYo
JWT_EXPIRATION_HOURS=24
JWT_REFRESH_EXPIRATION_HOURS=168
